.login-container {
  display: flex;
  position: absolute;
  width: 20%; /* Ocupa el ancho completo */
  height: 100vh; /* Ocupa el alto completo de la pantalla */
  justify-content: flex-start; /* Alinear todo hacia la izquierda */
  align-items: center; 
 
  padding: 0px;
  top: 2px;
  right: 70%;

  }
  .logo {
    background-color: #7e7676;
    width: 36%; /* Ajusta según el tamaño que necesites */
    height: 95%; /* Mantiene la proporción de la imagen */
    margin-right: 20px; /* Espacio entre la logo y el formulario */
    position: absolute; /* Asegura que esté en la esquina izquierda */
    left: 60%; /* Espacio desde el borde izquierdo */
    top: 0px; /* Espacio desde la parte superior */
}

  .form-container {
    
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 70px;
  justify-content: left ;
  gap: 16px; /* Espacio entre los elementos */
      
      
  }
  .button-container {
    display: flex; 
    gap: 10px; 
    margin: 10px; 
    border-radius: 20px;
  }